<section class="event-section mt-5 pb-5">
    <h2 class="mb-5">Évènements</h2>
    <div
        *ngFor="let event of eventList"
        class="card mb-3 shadow"
        style="max-width: 740px"
    >
        <div
            *ngIf="event"
            class="card-header d-flex justify-content-between align-items-center"
        >
            <small class="date_event text-body-secondary"
                >Le<b> {{ event.dateStart | date : 'dd/MM/yyyy' }}</b></small
            >
            <h6
                [ngClass]="{
                    conference: event.type === 'Conférence',
                    exposition: event.type === 'Exposition',
                    observation: event.type === 'Observation',
                    rencontre: event.type === 'Rencontre',
                    reunion: event.type === 'Réunion',
                    sortie_nature: event.type === 'Sortie nature',
                    
                }"
                class="event_type text-center shadow `${{ event.type }}` m-0"
            >
                {{ event.type }}
            </h6>
            <p class="event_location card-text">
                <small class="text-body-secondary"
                    >à <b>{{ event.location }}</b></small
                >
                <small class="text-body-secondary">
                    ({{ event.zipCode }})</small
                >
            </p>
        </div>
        <div class="row g-0">
            <div
                class="col-md-4 d-flex justify-content-center align-items-center bg-success-subtle"
            >
                <img
                    src="../../assets/logo/icon-lens-2.png"
                    class="img-fluid rounded-start"
                    alt="..."
                />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                </div>
            </div>
        </div>
        <div
            *ngIf="event"
            class="card-footer d-flex justify-content-between align-items-center"
        >
            <small class="text-body-secondary"
                >Posté le {{ event.postedat | date : 'dd/MM/yyyy' }}</small
            >
            <small class="m-0">par <b>Manuel</b></small>
        </div>
    </div>
</section>
