<section class="contact-section">
    <article>
        <form action="" method="get">
            <h2>Nous contacter</h2>
            <fieldset>
                <div class="name-div input-div">
                    <div>
                        <img
                            src="../../assets/logo/user-solid.svg"
                            alt="logo utlisateur"
                        />
                    </div>
                    <label for="name"></label>
                    <input
                        type="name"
                        name="name"
                        id="name"
                        placeholder="Saisissez votre nom"
                    />
                </div>
                <div class="email-div input-div">
                    <div>
                        <img
                            src="../../assets/logo/enveloppe.png"
                            alt="logo enveloppe"
                        />
                    </div>

                    <label for="email"></label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Saisissez votre email"
                    />
                </div>
                <textarea
                    name="message"
                    id="message"
                    placeholder="Saisissez votre message"
                ></textarea>
                <div class="submit-div">
                    <button type="submit" class="submit-btn">Envoyer</button>
                </div>
            </fieldset>
        </form>
    </article>
</section>
