<section class="form-section">
    <article>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2>S'inscrire</h2>
            <div class="form-img-div">
                <img src="../../assets/logo/icon-lens-2.png" alt="" />
            </div>
            <fieldset>
                <!-- Nom -->
                <div class="register-firstname-div">
                    <label for="firstname"></label>
                    <input
                        type="text"
                        name="firstname"
                        id="firstname"
                        placeholder="Saisissez votre prénom"
                        formControlName="firstname"
                    />
                </div>
                <!-- Prenom -->
                <div class="register-lastname-div">
                    <label for="lastname"></label>
                    <input
                        type="text"
                        name="lastname"
                        id="lastname"
                        placeholder="Saisissez votre nom"
                        formControlName="lastname"
                    />
                </div>
                <!-- Email -->
                <div class="email-pass-div">
                    <div>
                        <img src="../../assets/logo/user-solid.svg" alt="" />
                    </div>

                    <label for="email"></label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Saisissez votre email"
                        formControlName="email"
                    />
                </div>
                <!-- Mot de passe -->
                <div class="password-div">
                    <div>
                        <img src="../../assets/logo/lock-solid.svg" alt="" />
                    </div>
                    <label for="password"></label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Saisissez votre mot de passe"
                        formControlName="password"
                    />
                </div>

                <div class="submit-div">
                    <button type="submit" class="submit-btn">
                        S'enregister
                    </button>
                </div>
            </fieldset>
        </form>
    </article>
</section>
