// variables scss

// Import de la police d'écriture "Montserrat"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables de couleurs
$kaki-color: #939661;
$orange-color: #d87c4a;
$dark-kaki-color: #665c55;
$dark-color: #3f3f3f;
$black-color: #050408;

// Variables d'ombre
$box-shadow: 2px 2px 15px black;
$box-shadow-orange: 2px 5px 15px #d87c4a;

.container {
    max-width: 1140px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
}
